{% assign related_posts = "" | split: "" %}

{% if page.next %}
  {% if page.next.next %}
    {% assign related_posts = related_posts | push: page.next.next %}
  {% endif %}
  {% assign related_posts = related_posts | push: page.next %}
{% endif %}

{% assign related_posts = related_posts | push: page %}

{% if page.previous %}
  {% assign related_posts = related_posts | push: page.previous %}
  {% if page.previous.previous %}
    {% assign related_posts = related_posts | push: page.previous.previous %}
  {% endif %}
{% endif %}

{% if related_posts.size > 0 %}
  {% if page.layout == 'post' %}
    <br>
    <hr>
    <br>
    {% endif %}

  <p class="mb-2">More posts:</p>

  <ul class="list-disc pl-8">
    {% for post in related_posts %}
      <li class="my-2">
        {% if post.url == page.url %}
          <span class="text-pink-700 font-bold" style="font-weight: bold;">
            {{ post.title }}
          </span>
        {% else %}
          {% if post.redirect == blank %}
            <a class="text-pink-700 underline font-semibold hover:text-pink-800" href="{{ post.url | relative_url }}">{{ post.title }}</a>
          {% elsif post.redirect contains '://' %}
            <a class="text-pink-700 underline font-semibold hover:text-pink-800" href="{{ post.redirect }}" target="_blank">{{ post.title }}</a>
            <svg width="1rem" height="1rem" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
              <path d="M17 13.5v6H5v-12h6m3-3h6v6m0-6-9 9" class="icon_svg-stroke" stroke="#999" stroke-width="1.5" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          {% else %}
            <a class="text-pink-700 underline font-semibold hover:text-pink-800" href="{{ post.redirect | relative_url }}">{{ post.title }}</a>
          {% endif %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if site.newsletter.enabled and site.footer_fixed %}
  <p class="mb-2" style="margin-top: 1.5rem !important">Subscribe to be notified of future articles:</p>
  {% include newsletter.liquid left=true %}
{% endif %}